*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","平方";
	font-style: normal;
	font-weight: normal;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 976850 */
  src: url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.eot');
  src: url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_976850_9x6zfmfx4k9.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
}

